body {background-color: #252a35;}
h1 {color: rgb(152, 206, 26);}

h1 {
    font-family: "Averia Sans Libre", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 350%;
    color: rgb(89, 24, 109);
  }